@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background: #fff;
  color: #333;
  font-size: 0.9em;
}

#__next {
  height: 100%;
}

ul {
  list-style: none;
}
